*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: oklch(10% 0 240);
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.c1,.c2,.c3,.c4,.c5,.c6{
  color: white;
  background-color: oklch(15.5% 0 240);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid grey;
}

.c3{
  font-size: 20px;
}

.c4{
  font-size: 25px;
}

